<div class="container mt-5 pt-5 pb-4">
  <div class="d-flex align-items-center gap-3 justify-content-between">
    <h1 class="d-inline-block trispace offwhite"><i class="fas fa-globe-asia"></i> My Planets</h1>
    <%= link_to "<i class='fas fa-plus'></i> Add a planet".html_safe, new_planet_path, class:"add-review-button" %>
  </div>
  <% if !@planets.first.present? %>
    <h5 class="gray mt-1"><em>No planets at this time</em></h5>
  <% end %>
  <div class="planet-cards mt-2 mb-5">
    <%= render 'owner_planet_card', planets: @planets %>
  </div>
</div>
