<div class="container mt-5 pt-5">
  <h1 class="mb-3 trispace">My Hostings</h1>
  <% @approved_reservations.each do |approved_reservation| %>
    <h3 class="h4 gray"><%= approved_reservation.planet.name %></h3>
  <% end %>
</div>
