<div class="container mt-5 pt-5 pb-5">
  <h1 class="mb-3 trispace offwhite"><i class="fas fa-calendar-alt"></i> My Hostings</h1>
  <% if @pending_reservations.present? %>
    <h4 class="pb-2 mb-3 border-bottom gray">Pending</h4>
    <div class="owner-hosting-cards mb-3">
      <%= render 'owner_reservation_card', reservations: @pending_reservations %>
    </div>
  <% end %>
  <% if @approved_reservations.present? %>
    <h4 class="pb-2 mb-3 border-bottom gray">Approved</h4>
    <div class="owner-hosting-cards mb-3">
      <%= render 'owner_reservation_card', reservations: @approved_reservations %>
    </div>
  <% end %>
  <% if @declined_reservations.present? %>
    <h4 class="pb-2 mb-3 border-bottom gray">Declined</h4>
    <div class="owner-hosting-cards mb-3">
      <%= render 'owner_reservation_card', reservations: @declined_reservations %>
    </div>
  <% end %>
  <% if !@reservations.first.present? %>
    <h5 class="gray"><em>No hostings at this time</em></h5>
  <% end %>
</div>
