// Specific CSS for your home-page
.home-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1.5rem;
}

.home {
  // background-image: url("https://images.unsplash.com/photo-1475274047050-1d0c0975c63e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=872&q=80");
  // background-position: fixed;

  h3 {
    color: rgb(204, 204, 204);
    font-family: 'Trispace', sans-serif;
    font-size: 24px;
  }
}

.banner {
  position: relative;

  .overlay {
    position: absolute;
    height: 100%;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.25);

    &-text {
      position: absolute;
      top: 50%;
      left: 50%;
      max-width: 350px;
      border-right: 2px solid rgba(255,255,255,.75);
      font-size: 80px;
      white-space: nowrap;
      overflow: hidden;
      transform: translate(-50%, -50%);
      color: white;
      text-transform: uppercase;
      font-family: 'Trispace', sans-serif;
      text-shadow: 0px 0px 6px black;
    }
  }
}

.anim-typewriter{
  animation: typewriter 4s steps(44) 1s 1 normal both,
             blinkTextCursor 500ms steps(44) infinite normal;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 24em;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
}
