<% if user != current_user %>
  <div class="d-flex flex-column" data-controller="show">
    <button
    class="dark-gray-purple-link text-end"
    data-show-target="button"
    data-action="click->show#showForm">
      <i class='fas fa-plus'></i>
      Add a review
    </button>
    <%= render "user_reviews/new" %>
  </div>
<% end %>
