<% if user.name.present? %>
  <div class="d-flex align-items-end justify-content-between border-bottom mt-4 pb-2 mb-3">
    <h3 class="gray" style="margin-bottom: 0; padding-bottom: 0;">
      <i class="fas fa-globe-asia me-2"></i>
      <span class="ms-1"><%= user.name.capitalize %>'s Planets</span>
    </h3>
    <% if user == current_user %>
      <%= link_to "<i class='fas fa-plus'></i> Add a planet".html_safe, new_planet_path, class:"dark-gray-purple-link" %>
    <% end %>
  </div>
<% else %>
<div class="d-flex align-items-end justify-content-between border-bottom mt-4 pb-2 mb-3">
  <h3 class="gray" style="margin-bottom: 0; padding-bottom: 0;">
    <i class="fas fa-globe-asia me-2"></i>
    <span class="ms-1">Planets</span>
  </h3>
  <% if user == current_user %>
    <%= link_to "<i class='fas fa-plus'></i> Add a planet".html_safe, new_planet_path, class:"dark-gray-purple-link" %>
  <% end %>
</div>
<% end %>
<% if user.planets.first.present? %>
  <div class="planet-cards mt-3 mb-3">
    <%= render 'planet_card', user: @user %>
  </div>
<% else %>
  <h5 class="gray mb-3 ms-3"><em>No hosted planets</em></h5>
<% end %>
