<div class="card card--home">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
  <div class="card__planet-info">
    <div>
      <h2>Planet name</h2>
      <p>Price</p>
    </div>
    <h2 class="card__planet-reviews">Reviews</h2>
  </div>
</div>
