<div class="card card--home">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
  <div class="card__planet-info">
    <div>
      <h2><%= @planet.name %></h2>
      <p><%= @planet.price_per_night %></p>
    </div>
    <h2 class="card__planet-reviews"><%= @planet.reviews %></h2>
  </div>
</div>
