<div class="footer" style="">
  <div class="footer-links">
    <a href="https://github.com/nogawa11/u-chuu"><i class="fab fa-github"></i></a>
    <a href="https://www.facebook.com/lewagon/"><i class="fab fa-facebook"></i></a>
    <a href="https://twitter.com/LeWagonTokyo"><i class="fab fa-twitter"></i></a>
    <a href="https://www.linkedin.com/showcase/le-wagon-tokyo"><i class="fab fa-linkedin"></i></a>
    <a href="https://www.nasa.gov/"><%= image_tag "nasa-logo-cropped.png", style: "height: 30px;" %></a>
  </div>
  <div class="d-flex flex-column u-chuu">
    <%= image_tag "U-ChuuWhite.png", style: "width: 80px; text-align: end;" %>
    <span>株式会社</sp>
  </div>
  <div class="footer-copyright">
    <p>
      This footer is made with <i class="fas fa-heart" style="color: #c2a6fa;"></i> at Le Wagon
    </p>
  </div>
</div>
