<div class="planet-images mt-3 mb-4">
  <% Dir.each_child("app/assets/images/#{Planet.find(params[:id]).name.downcase}").each do |image| %>

    <%= image_tag "#{Planet.find(params[:id]).name.downcase}/#{image}" %>

  <% end %>

</div>
