<div class="container pt-5 pb-5">
  <h2 class="mt-5 trispace offwhite"><i class="fas fa-globe-asia"></i> Planets (<%= @planets.length %>)</h2>
  <div class="planet-cards mt-3 mb-3">
    <%= render 'planet_card', planets: @planets %>
  </div>
</div>
