<div class="home-card">
  <img src="https://images.unsplash.com/photo-1588415648764-920ecd5f1203?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=915&q=80" />
  <div class="home-card-infos">
    <div>
      <h2>Winter Weather</h2>
      <p class="mt-1">Get into the holiday spirit on our below -100ºC cold-weather planets!</p>
    </div>
  </div>
  <%= link_to "", planets_path(browse: "cold"), class: "recommended" %>
</div>
