<div class="home-card">
  <img src="https://images.unsplash.com/photo-1547235001-d703406d3f17?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=874&q=80" />
  <div class="home-card-infos">
    <div>
      <h2>Warm & Sunny</h2>
      <p class="mt-1">Soak up those sunny UV rays on our relaxing warm-temperatured planets!</p>
    </div>
  </div>
  <%= link_to "", planets_path(browse: "hot"), class: "home-card-links" %>
</div>
