<div class="home-card">
  <img src="https://images.unsplash.com/photo-1470058869958-2a77ade41c02?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80" />
  <div class="home-card-infos">
    <div>
      <h2>Tropical Jungles</h2>
      <p class="mt-1">Put on your adventure hat and explore our rainforest planets!</p>
    </div>
  </div>
  <%= link_to "", planets_path(browse: "jungle"), class: "recommended" %>
</div>
