<div class="col col-6 card shadow p-4 planet-booking">
  <h3 class="font-weight-bold"><%= number_to_currency(@planet.price_per_night) %> / night</h3>
  <span><%= @reviews_avg %><i class="fas fa-star warning"></i> - <%= @planet.reviews.count %> review(s)</span>
  <div class="col card p-4 mt-3 shadow">
    <%= render "reservations/form" %>
  </div>
</div>
