<p class="offwhite" style="font-size: 14px;">
  <strong>Dates: </strong>
</p>
<p class="lighterwhite" style="font-size: 18px;">
  <%= @reservation.start_date %> - <%= @reservation.end_date %>
</p>
<p class="offwhite" style="font-size: 14px;">
  <strong>Guests: </strong>
</p>
<p class="lighterwhite" style="font-size: 18px;">
  <%= @reservation.number_of_guests %>
  guests
</p>
