<div class="container pt-5 mt-5 mb-5">
  <div class="col col-6 m-auto mt-2">
    <div class="d-flex justify-content-center">
      <h2 class="trispace offwhite mb-3">Update a reservation</h2>
    </div>
    <%= render 'edit_form' %>
  </div>
</div>
