<div class="home">
  <div class="container pt-4 pb-5">
    <h1 class="trispace offwhite pt-5 mt-4 mb-3 ">
      <i class="fas fa-rocket"></i>
      My Reservations
    </h1>
    <% if !@reservations.first.present? %>
      <h5 class="mt-1 gray"><em>No reservations at this time</em></h5>
    <% end %>
    <div class="reservations-cards pb-4">
      <%= render 'reservation_card', reservations: @reservations %>
    </div>
  </div>
</div>
