.banner {
  height: 550px;

  .background-video {
    height: 550px;
    width: 100vw;
    object-fit: cover;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
  }
}

.show-banner {
  height: 550px;
  position: relative;

  img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 50% 60%;
    z-index: -1;
  }
}
