.add-review-button {
  color: rgb(128, 128, 128);
  text-decoration: none !important;
  background-color: transparent;
  border: none;
  outline: none;

  &:hover {
    color: rgb(147, 101, 255);
  }
}

.add-review-button-re {
  color: rgb(192, 192, 192);
  text-decoration: none !important;

  &:hover {
    color: #c795ff;
  }
}
