.dark-gray-purple-link {
  color: rgb(128, 128, 128);
  background-color: transparent;
  text-decoration: none !important;
  border: none;
  outline: none;

  &:hover {
    color: rgb(147, 101, 255);
  }

  &.delete {
    padding: 0.5rem;
  }
}

.light-gray-purple-link {
  color: rgb(192, 192, 192);
  text-decoration: none !important;

  &:hover {
    color: #c795ff;
  }
}

.big-gray-purple-link {
  color: rgb(128, 128, 128);
  text-decoration: none !important;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 20px;

  &:hover {
    color: rgb(147, 101, 255);
  }
}
