.add-review-button {
  color: rgb(128, 128, 128);
  text-decoration: none !important;
  background-color: transparent;
  border: none;
  outline: none;

  &:hover {
    color: rgb(147, 101, 255);
  }
}
