.card {
  border-radius: 10px;
  overflow: hidden;
  text-decoration: none;
  color: #000;

  &__planet-info {
    padding: 0.75rem 1rem 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  &__planet-reviews {
    justify-self: end;
    align-self: center;
    position: relative;
    top: 5px;
  }

  &__planet-image {
    width: 100%;
    height: 200px;
  }
}

.planet-price  {
  grid-column: 1 / 2;
  grid-row: 2 / 3
}

// home cards

.home-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 16px;

  h2 {
  color: black;
  }

  p {
    color: rgb(75, 75, 77);
  }
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .home-cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .home-cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .home-cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .home-cards {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .home-cards {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.card-home {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 8px;
  position: relative;

  &:hover {
    border: 1px solid rgb(247, 247, 247);
  }
}

.recommended {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card-home > img {
  height: 300px;
  width: 100%;
  object-fit: cover;
  border-radius: 8px 8px 0 0;
}

.card-home h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  font-family: 'Trispace', sans-serif;
}

.card-home h5 {
  color: rgb(80, 80, 80);
  font-size: 16px;
}

.card-home p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}

.card-home .card-home-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-home-infos .card-home-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

// reservations show page
// =======
// planets

.card-planet {
  overflow: hidden;
  // background: rgb(0,0,0);
  // background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(29,0,29,1) 100%);
  background: rgb(29,0,42);
  background: linear-gradient(0deg, rgba(29,0,42,0.9) 0%, rgba(0,74,153,0.9) 100%);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 8px;
  position: relative;
  color: rgb(245, 245, 245);

  &:hover {
    border: 1px solid rgb(250, 250, 250);
  }
}

.card-planet > img {
  height: 250px;
  width: 100%;
  object-fit: cover;
}

.card-planet h2 {
  font-size: 20px;
  color: rgb(247, 247, 247);
  font-weight: bold;
  margin: 0;
  font-family: 'Trispace', sans-serif;
}

.card-planet-price {
  color: rgb(177, 166, 180) !important;

  p {
    font-size: 16px !important;
  }
}

.card-planet-text {
  width: 100%;
  height: 100%;
}

.planet-rating {
  right: 10;
  top: 20;
  i {
    color: rgb(255, 231, 125);
  }
}

.card-planet p {
  font-size: 12px;
  opacity: 0.9;
  margin: 0;
  font-family: $body-font;
}

.planet-card-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


.card-planet .card-planet-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  // position: relative;
}

.card-planet-infos {
  // position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
  width: 100%;
}

.planet-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .planet-cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .planet-cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .planet-cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .planet-cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .planet-cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// reservation show page

.card-reservation {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border: gray;
  border-radius: 4px;
  color: black;
}

.card-details > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
  margin-bottom: 8px;
  border-radius: 4px;
}

.card-reservation h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  line-height: 1.5;
}

.card-reservation p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}

.card-product {
  overflow: hidden;
  height: 120px;
  background: white;
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.card-product img {
  height: 100%;
  width: 180px;
  object-fit: cover;
  border-radius: 10px
}

.card-product h2 {
  font-size: 14px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 4px;
}

.card-product .card-product-infos {
  padding-left: 12px;
}

.card-reservation-infos {
}

.reservations-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;

  h2 {
  color: black;
  }

  p {
    color: rgb(75, 75, 77);
  }
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .reservations-cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .reservations-cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .reservations-cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .reservations-cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .reservations-cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.reservation-card-buttons {
  width: 100%;
}
