.card {
  color: #000;
  overflow: hidden;
  text-decoration: none;
  border-radius: 10px;

  &__planet-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0.75rem 1rem 0;
  }

  &__planet-reviews {
    position: relative;
    justify-self: end;
    align-self: center;
    top: 5px;
  }

  &__planet-image {
    height: 200px;
    width: 100%;
  }
}

.planet-price  {
  grid-column: 1 / 2;
  grid-row: 2 / 3
}

// home card

.home-card {
  position: relative;
  overflow: hidden;
  background: rgb(29,0,42);
  background: linear-gradient(0deg, rgba(29,0,42,0.9) 0%, rgba(0,74,153,0.9) 100%);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 8px;
  border: none;
  transition: all 0.25s;

  &:hover {
    transform: scale(1.03);
  }

  .home-card-links {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
  }

  img {
    height: 300px;
    width: 100%;
    object-fit: cover;
    border-radius: 8px 8px 0 0;
  }

  h2 {
    color: rgb(230, 230, 230);
    font-family: 'Trispace', sans-serif;
    font-size: 16px;
    font-weight: bold;
    margin: 0;
  }

  h5 {
    color: rgb(80, 80, 80);
    font-size: 16px;
  }

  p {
    color: rgb(196, 196, 196);
    font-size: 12px;
    margin: 0;
    opacity: .7;
  }
}

.home-card .home-card-infos {
  display: flex;
  position: relative;
  align-items: flex-end;
  justify-content: space-between;
  padding: 16px;
}

.home-card-infos .home-card-user {
  position: absolute;
  width: 40px;
  top: -20px;
  right: 16px;
}

// planet card

.planet-card {
  color: rgb(245, 245, 245);
  position: relative;
  overflow: hidden;
  background: rgb(29,0,42);
  background: linear-gradient(0deg, rgba(29,0,42,0.9) 0%, rgba(0,74,153,0.9) 100%);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 8px;
  transition: all 0.25s;

  &:hover {
    transform: scale(1.03);
  }

  img {
    height: 250px;
    width: 100%;
    object-fit: cover;
  }

  h2 {
    color: rgb(247, 247, 247);
    font-size: 20px;
    font-family: 'Trispace', sans-serif;
    font-weight: bold;
    margin: 0;
  }

  p {
    font-size: 12px;
    opacity: 0.9;
    margin: 0;
    font-family: $body-font;
    color: rgb(163, 163, 163);
  }

  .planet-card-text {
    width: 100%;
    height: 100%;
  }

  .planet-rating {
    right: 10;
    top: 20;
    i {
      color: rgb(255, 231, 125);
    }
  }

  .planet-card-link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.planet-card-price {
  color: rgb(177, 166, 180) !important;

  p {
    font-size: 16px !important;
  }
}

.planet-card .planet-card-infos {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 16px;
}

.planet-card-infos {
  top: -20px;
  right: 16px;
  width: 100%;
}


// owner hosting card

.owner-hosting-card {
  overflow: hidden;
  height: 220px;
  background: rgb(29,0,42);
  background: linear-gradient(0deg, rgba(29,0,42,0.9) 0%, rgba(20, 19, 66, 0.9) 100%);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  border-radius: 8px;

  .dark-gray {
    color: rgb(145, 145, 145);
  }

  h5 {
    font-size: 14px;
    margin-bottom: 0;
    margin-top: 4px;
  }

  p {
    color: rgb(224, 224, 224);
    font-size: 14px;
    line-height: 1.4;
    margin-bottom: 0;
    margin-top: 4px;
  }

  img {
    height: 100%;
    width: 140px;
    object-fit: cover;
  }

  h3 {
    color: #e7e7e7;
    font-size: 22px;
    font-weight: bold;
    margin: 0;
  }
}

.owner-hosting-card .owner-hosting-card-infos {
  padding: 16px;
  width: 100%;
}

// owner planet card

.owner-planet-card {
  color: rgb(245, 245, 245);
  position: relative;
  background: rgb(29,0,42);
  background: linear-gradient(0deg, rgba(29,0,42,0.9) 0%, rgba(0,74,153,0.9) 100%);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 8px;
  overflow: hidden;

  img {
    height: 250px;
    width: 100%;
    object-fit: cover;
  }

  h2 {
    color: rgb(247, 247, 247);
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    font-family: 'Trispace', sans-serif;
  }

  p {
    font-family: $body-font;
    font-size: 12px;
    opacity: 0.9;
    margin: 0;
  }
}

.owner-planet-card .owner-planet-card-infos {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 16px;
}

// reservation card

.reservation-card {
  position: relative;
  overflow: hidden;
  background: rgb(29,0,42);
  background: linear-gradient(0deg, rgba(29,0,42,0.9) 0%, rgba(0,74,153,0.9) 100%);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 8px;

  img {
    height: 220px;
    width: 100%;
    object-fit: cover;
  }

  h2 {
    color:#f0f0f0;
    font-family: 'Trispace', sans-serif;
    font-size: 16px;
    font-weight: bold;
    margin: 0;
  }

  h5 {
    color: rgb(194, 194, 194);
    font-size: 16px;
  }

  p {
    color:rgb(150, 150, 150);
    font-size: 12px;
    opacity: .7;
    margin: 0;
  }

  .reservation-card-buttons {
    width: 100%;
  }
}

.reservation-card .reservation-card-infos {
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 16px;
}

// reservation show page

.reservation-details-card {
  color: rgb(228, 228, 228);
  background-color: rgb(38, 38, 43);
  overflow: hidden;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border: gray;
  border-radius: 4px;

  h2 {
    font-size: 16px;
    font-weight: bold;
    line-height: 1.5;
    margin: 0;
  }

  p {
    font-size: 12px;
    opacity: .7;
    margin: 0;
  }

  img {
    height: 100%;
    width: 180px;
    object-fit: cover;
    border-radius: 10px
  }
}

.reservation-details .reservation-details-infos {
  padding-left: 12px;
}
