.card {
  border-radius: 10px;
  overflow: hidden;
  text-decoration: none;
  color: #000;

  &__planet-info {
    padding: 0.75rem 1rem 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  &__planet-reviews {
    justify-self: end;
    align-self: center;
    position: relative;
    top: 5px;
  }

  &__planet-image {
    width: 100%;
    height: 200px;
  }
}

.planet-price  {
  grid-column: 1 / 2;
  grid-row: 2 / 3
}

.home-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .home-cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .home-cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .home-cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .home-cards {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .home-cards {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.card-home {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 8px;
  position: relative
}

.recommended {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card-home > img {
  height: 300px;
  width: 100%;
  object-fit: cover;
  border-radius: 8px 8px 0 0;
}

.card-home h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  font-family: 'Trispace', sans-serif;
}

.card-home p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}

.card-home .card-home-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-home-infos .card-home-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

// reservations show page
.card-reservation {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border: gray;
  border-radius: 4px;
}

.card-details > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
  margin-bottom: 8px;
  border-radius: 4px;
}

.card-reservation h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  line-height: 2;
}

.card-reservation p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}

.card-product {
  overflow: hidden;
  height: 120px;
  background: white;
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.card-product img {
  height: 100%;
  width: 180px;
  object-fit: cover;
  border-radius: 10px
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}

.card-reservation-infos {
  margin-bottom: 24px;
}

// move this code
.price-details {
  border-top: 1px solid rgb(180, 174, 174);
  margin-top: 16px;
  padding-top: 24px;
}

// .price {
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
// }
