.form-control, .form-range, .form-select {
  background-color: rgb(81, 81, 85);
  color: #c7c6c6;
  border: none;
}

.simple_form, .card {
  background-color: rgb(38, 38, 43);
  color: #c7c6c6 !important;
}

.control-label{
  color: rgb(212, 209, 209) !important;
}
