.form-control, .form-range, .form-select {
  background-color: rgb(81, 81, 85);
  color: rgb(190, 190, 190);
}

.simple_form, .card {
  background-color: rgb(38, 38, 43);
  color: rgb(230, 230, 230) !important;
}

.control-label{
  color: rgb(212, 209, 209) !important;
}
