// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "banner";
@import "button";
@import "navbar";
@import "card";
@import "form";

body {
  background-color: #080808;
  color: rgb(250, 250, 250);
}

.gray {
  color: rgb(125, 122, 129);
}

.trispace {
  font-family: 'Trispace', sans-serif;
}

.black li {
  background-color: inherit;
  color: rgb(194, 194, 194);

  .white {
    color: rgb(250, 250, 250);
  }
}


.light-gray {
  color: rgb(153, 153, 153);
}

.offwhite {
  color:rgb(209, 209, 209);
}
