.navbar a {
  color: rgb(250, 250, 250) !important;
}

.navbar-lewagon {
  justify-content: space-between;
  background: rgba(252,252,252, 0.3);
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 1;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.dropdown-menu{
  background-color: black !important;

  a {
    color: rgb(241, 241, 241) !important;

    &:hover {
      background-color: rgb(65, 65, 65);
    }
  }
}


// .search-bar {
//   border-radius: 50px 0 0 50px;
//   border: 2px solid black;
//   background-color: white;
//   color: black;
// }

// .search-button {
//   border-radius: 0 50px 50px 0;
//   padding-right: 16px;
//   border: 2px solid black;
//   background-color: black;
//   color: white;

//   &:hover {
//     border: 2px solid rgb(255, 255, 255);
//     background-color: rgb(0, 0, 0);
//     color: rgb(243, 243, 243);
//   }
// }


.search-bar {
  border-radius: 50px 0 0 50px;
  border: 2px solid white;
  background-color: black;
  color: white;
}

.search-button {
  border-radius: 0 50px 50px 0;
  padding-right: 16px;
  border: 2px solid white;
  background-color: white;
  color: black;

  &:hover {
    border: 2px solid rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    color: rgb(243, 243, 243);
  }
}
