<div class="container mt-5 pt-5">
  <div class="col col-6 mt-2 m-auto d-flex justify-content-center">
    <h1 class="mb-2 trispace">Add a review</h1>
  </div>
  <div class="col col-6 m-auto mt-2 card p-3">
    <%= simple_form_for [@planet, @review] do |f| %>
    <%= f.input :rating, input_html: { min: '0', max: "5" } %>
    <%= f.input :content %>
    <%= f.submit "Create Review", class:"btn btn-primary m-auto mt-1", style: "width: 100%" %>
    <% end %>
  </div>
</div>
